/* Resetting and Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0.274);
    font-family: 'Work Sans', sans-serif;
}

/* Shared CSS Styles in Desktop , Mobile and Tablet Layout */
.maximum-width {
    max-width: 85%;
    margin: 0 auto;
}

.svg-text-align {
    display: flex;
    align-items: center;
}

.banner-btn {
    padding: 1.3rem 2.5rem;
    border-radius: 3rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

/* Nav bar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    gap: 1.25rem;
    /* this is part of flex property on line 16*/
}

.G-of-nav-title {
    color: #FF42A5;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

li>a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-us {
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.5rem 1.2rem;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-us>span+svg {
    margin-right: 1rem;
    margin-left: 1.5rem;
}

/* Banner styles */
.banner {
    height: 43.75rem;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: left 0;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner-left-part {
    width: fit-content;
}

.banner-right-part {
    width: 60%;
    height: 100%;
}

.banner-right-part img {
    width: 100%;
    height: 100%;
}

.play-like-the {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.goat {
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.banner-para {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 1rem;

}

.banner-para>span {
    margin-left: 0.75rem;
}

.sign-in-btn {
    background: #4EC5F7;
}

.go-rogue-btn {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-left: 1.5rem;
}

/* we are gamer for mobile device */
.we-are-gamer {
    text-align: center;
    display: none;
    /* turned off for desktop view */
    /* will be turned on mobile view */
}

.we-are-gamer img {
    width: 100%;
    margin: 2.25rem 0 3.75rem 0;
}

.we-are-gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-gamer-para {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin: 2rem auto 1.5rem auto;
    width: 30rem;
    /* 166.667% */
}

.we-are-gamer-btn {
    padding: 1.3125rem 2.5rem;
    border-radius: 3rem;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.we-are-gamer-slogan h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.we-are-gamer-slogan {
    margin: 3.75rem 0 10rem 0;
    color: #534C64;
    font-size: 1.5re, ;
    font-weight: 700;
    line-height: 2.8125rem;
}

/* game section styles */
.game-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin: 7.5rem 0 1rem 0;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.game-section-para {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
    margin-bottom: 3rem;
}

.game-section-image-container figcaption {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    /* 150% */
}

.game-section-image-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.game-section-image-container figure {
    border-radius: 0.9rem;
    width: 22.5%;

}

.img-container {
    position: relative;
}

.game-section-image-container img {
    width: 100%;
    margin-bottom: 1.5rem;

}

.overlay-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #0b0223a2;
    border-radius: 0.7rem;
    height: calc(100% - 1.625rem);
    opacity: 0;
}
.img-container:hover .overlay-image {
    opacity: 100%;
}

.overlay-image span {
    font-size: 1.25rem;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* game section second part starts */

.game-section-second-part {
    margin-top: 7.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 7.5rem;
    align-items: center;

}

.game-section-second-part-left-side {
    text-align: right;
    width: 22rem;
}

.game-section-second-part-title,
.play-instant,
.game-section-third-part-title {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    line-height: 3.75rem;
}

.play-instant,
.play-games {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-section-second-part-para,
.game-section-third-part-para {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
}

.game-secion-second-part-right-side {
    padding: 0 0 1.875rem 4.0625rem;
    position: relative;
    width: 50%;
}

.game-seciton-underlay {
    width: 100%;
}

.game-section-second-part-overlay {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 0;
}

/* game section third part starts */
.game-section-third-part {
    margin-top: 7.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 7.5rem;
    align-items: center;
}

.game-section-third-part-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-section-third-part-overlay {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 0;
}

.game-secion-third-part-left-side {
    padding: 0 4.0625rem 1.875rem 0;
    position: relative;
    width: 50%;
}

.game-section-third-part-right-side {
    text-align: left;
    width: 22rem;
}

/* career section styel herer */
.career {
    margin-top: 7.5rem;
    background: url("../images/Group\ 65.png"), linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    height: 51rem;
    background-size: 50% 100%, 100% 100%;
    background-position: right -3.5rem top 0, right 0 bottom 0;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: auto;
}

.career-container {
    height: 51rem;
}

.career-left-part-flex-start {
    height: 51rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.career-left-part {
    width: 42.5rem;
}

.career-title {
    margin-bottom: 1.5rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    /* 125% */
}

.career-para {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 2rem;
    /* 166.667% */
}

.career-box {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    /* 200% */
}

.career-box p {
    display: flex;
    justify-content: space-between;
}

.see-all-positions {
    color: #FF42A5;
}

/* Game type section styles */
.game-type {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-type-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.625rem;
    border-radius: 3.125rem;
    background: #FFF;
    margin: 0.5rem;
}

.game-type-btn span {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

.game-type-btn img {
    width: 3.125rem;
    height: 3.125rem;
}

.game-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: 26.7rem;
}

/* fooer section styles */
footer {
    height: 39rem;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amer {
    color: white !important;
}

.footer-sitemap {
    margin-top: 4.125rem;
    margin-bottom: 4.125rem;
}

.sitemap {
    text-decoration: none;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 1.875rem 0 1.875rem;
}

.footer-logos svg {
    margin: 0 1.25rem 0 1.25rem;
}

.footer-terms {
    margin: 4.625rem 0 1.75rem 0;
}

.footer-terms a {
    margin: 0 1.875rem 0 1.875rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.footer-copyright p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

/* Media query for mobile device */

@media screen and (max-width: 576px) {
    html {
        font-size: 7px;
    }

    .nav-title {
        margin-top: 6.25rem;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        gap: 3.875rem;
    }

    nav>ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2.25rem;
    }

    .banner {
        height: auto;
    }

    .banner-right-part {
        width: 100%;
        margin-top: 4.7rem;
    }

    .banner-container {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .banner {
        background-image: none;
    }

    .go-rogue-btn {
        margin-left: 1.5rem;
    }

    .banner-container {
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: 100% 42%;
        background-position: left 0 bottom 0;
    }

    /* Turning on we are gamer section for mobile view */
    .we-are-gamer {
        display: block;
    }

    /* game seciton container mobile view */
    .game-section-image-container {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .game-section-image-container figure {
        width: 65%;
        margin: 0.5rem auto;
    }

    /* game section second part */
    .game-section-second-part {
        flex-direction: column;
        gap: 0;
    }

    .game-section-second-part-left-side,
    .game-section-third-part-right-side {
        text-align: center;
    }

    .game-secion-second-part-right-side,
    .game-secion-third-part-left-side {
        width: 80%;
    }

    .game-section-second-part-title,
    .game-section-third-part-title {
        margin-bottom: 2.5rem;
    }

    .game-section-second-part-para,
    .game-section-third-part-para {
        margin-bottom: 3rem;
    }

    .game-section-third-part {
        flex-direction: column;
        gap: 0;
    }

    /* career section mobile view */
    .career {
        display: none;
    }

    /* game type section mobile view */
    .game-type-btn {
        gap: 0.5rem;
        padding: 0.4rem;
        margin: 0.5rem;
    }

    .game-type-btn span {
        font-size: 1rem;
    }

    .game-type-btn img {
        width: 3rem;
        height: 3rem;
    }

    /* footer mobile styles */
    footer {
        height: auto;
    }

    .footer-sitemap {
        margin-top: 2.5rem;
        margin-bottom: 4rem;
        width: 45%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .sitemap {
        margin: 0;
    }

    .footer-logos {
        width: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 1rem;
    }

    .footer-logos svg {
        margin: 0;
        width: 80%;
    }

    .footer-terms {
        width: 32%;
        margin: 4.3rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .footer-terms a {
        margin: 0;
    }

    .footer-copyright {
        margin-bottom: 5rem;
        width: 30%;
        text-align: center;
    }

    .footer-title {
        width: 35%;
    }

}